button.position-absolute {
    right:1rem;
    top:1rem;
    z-index:1;
}
ul.position-absolute {
    right:1rem;
    
    z-index:1;
}

#gallery img {
    height: 75vw;
    object-fit: cover;
}

#homePage {
    max-height: 1024px
}

#DSFprojects .carousel-item img {
    height: 60vw;
    object-fit: cover;
}

.img_background {
    background-color: black;
}
.hover:hover img{
    opacity: .5;
    

}
.hover p {
    display:none;
    position:absolute;
    top:0px;
    width:100%;
    text-align:center;
    background-color: antiquewhite;
}
.hover:hover p {
    display:block;
}


/*
.hover:hover img {
    opacity: .5;
    height: 70vw;
}
.hover p {
    display:none;
}
.hover:hover p {
    display:block;
    position:absolute;
    top:0;
    text-align: center;
    width:100%;
}
*/
#AboutDSF .carousel-item img {
    height: 60vw;
    object-fit: cover;
}

#AboutDSF .carousel-caption {
    top:1em;
    background-color: rgba(255,255,255,.5);
    bottom:auto;
}

.videoContainer { width:560px;}
.videoContainer640 {
    width:640px;
    margin-right:auto;
    margin-left:auto;
}

.twitterEmbed div {
    margin-left:auto;
    margin-right:auto;
}

.pdfView {
    width:100%;
    height: 75vh;
}

.privateContent {
    display:none;
}

@media (min-width: 576px) {
    .carousel-item img {
        height: 350px;
    }
    #gallery img {
        height: 35vw;
    }
}

@media (min-width: 992px) {
    #gallery img {
        height: 18vw;
    }
}
